@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  font-family: "Noto Sans", sans-serif;
  color: #333;
}

.kurly-active-text {
  color: #5f0080;
}

.view {
  margin-top: 155px;
}
