body,
html {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  padding: 0;
  background-color: #fff;
  border: 0;
}
